body {
    background: linear-gradient(135deg, #1F4875, #2A5787, #3B6B9E);
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 900px;
    margin: 60px auto;
}

.quadro {
    background: #2A5787;
    border: 1px solid #5885AF;
    padding: 30px;
    border-radius: 6px;
}

input {
    padding: 1px;
    font-size: 14px;
    height: 36px;
    margin-bottom: 10px;
    width: 90%;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #3B6B9E;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 92%
}

a {
    color: #39A76B;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 20px;
}
b{
    color: #39A76B;
}
