<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../../static/css/login.css">
</head>
<body>
<div class="container">
    <div class="quadro">
        <h1>FINANCE<b>360</b></h1>
        <h2>Pessoa Física</h2>
        <input type="text" id="cpf" name="cpf" placeholder="👤  CPF">
        <br>
        <input type="password" id="pfpassword" name="cpassword" placeholder="🔐  Senha">
        <br>
        <br>
        <button>Entrar</button>
    </div>

    <div class="quadro">
        <h1>FINANCE<b>360</b></h1>
        <h2>Pessoa Juridica</h2>
        <input type="text" id="cnpj" name="cpf" placeholder="🌇  CNPJ">
        <br>
        <input type="password" id="pjpassword" name="password" placeholder="🔐  Senha">
        <br>
        <br>
        <button>Entrar</button>
    </div>
</div>
<a href="CriarConta.html" class="criar-conta">Criar conta</a>
</body>
</html>