<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Projeto</title>
    <link rel="stylesheet" href="../../static/css/PessoaJuridica.css">
</head>

<body>
    <h1>FINANCE<b>360</b></h1>
    <h2>Pessoa Juridica</h2>

    <h3>Cadastro</h3>
    <form>

        <select id="cores" name="cores">
            <option value="default">Escolha uma opção</option>
            <option value="mei">MEI</option>
            <option value="me">ME</option>
            <option value="epp">EPP</option>
        </select>
        <br>
        <br>
        <input type="password" placeholder="Digite o nome fantasia da sua empresa">
        <br>
        <br>
        <input type="password" placeholder="Digite o cnpj">
        <br>
        <br>
        <input type="password" placeholder="Digite a senha">
        <br>
        <br>
        <button>Cadastrar</button>
    </form>

</body>

</html>